.square{
	width: 30%;
	background: white;
	padding-bottom: 30%;
	float:left;
	margin:1.25%;
	border-radius: 15%;
	transition: background 0.55s;
	--webkit-transition: background 0.55s;
	-moz-transition: background 0.55s;
}

body{
	background-color: black;
	margin:0;
	font-family: "Montserrat","Avenir";
}

#container{
	max-width: 600px;
	margin: 20px auto;
}
#colorDisplay{
	font-size: 200%;
}
h1{
	color:white;
	text-align: center;
	background: steelblue;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#message{
	display: inline-block;
	width: 20%;
}
/*span{
	color:white;
}*/

#stripe{
	background: white;
	height: 25px;
	text-align: center;
	color: black;
}

.selected {
	color:white;
	background:steelblue;
}

button{
	border:none;
	font-family: "Montserrat","Avenir";
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight:700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	--webkit-transition: background 0.55s;
	-moz-transition: background 0.55s;    
}

button:hover{
	color:white;
	background:steelblue;
	outline:none;
}
